.is-white-bg footer .copyright {
    color: #333;
}
.is-white-bg footer {
    color: #333;
}
.is-white-bg footer a {
    color: #009ECC;
}
.is-white-bg .main-control-panel .circle-btn {
    color: #333;
}
.main-bg-page {	
	background: url(../img/about-page-bg.jpg) top left no-repeat;
	background-size: cover;
}

.is-left-white-bg footer .copyright {
    color: #333;
}


.main-dark {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 10;
	background: #2F281D;
	@include cros-opacity(0.85);
}
.full-height-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-position: center top;
	background-size: cover;
	z-index: 9999;
}
#preloader:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../svg/preloader.svg) center center no-repeat;
}
.global-left-padding {
	padding-left: 46px;
}
.light-content {
	color: #fff;
}
.light-content {
	h1, .h1, h2, .h2, h3, .h3 {
		color: #fff;
	}
}
.dark-content {
	color: #484848;
}
.is-show-menu .main-control-panel {
	@include cros-opacity(0);
}
.main-control-panel {
	position: absolute;
    top: 81px;
    right: 0;
    width: 25%;
	z-index: 150;
	@include animation-transition ($speed-left-slide-window, all, ease-out, 0);
}
.wrap-main-logo {
	position: absolute;
    top: 66px;
    left: 0;
    width: 25%;
	z-index: 100;
}
.wrap-main-logo .logo {
	display: inline-block;
	width: 185px;
	height: 74px;
	background: url(../svg/logo.svg) top left no-repeat;
}
.wrap-main-logo .phone {
	font-weight: 700;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}
header {
	position: relative;
	z-index: 200;
}
header .top-part {
	position: relative;
	padding: 8px 0 0;
	height: 40px;
	background: #2F281D;	
}
header .top-part:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 33px;
	height: 40px;
	background: url(../svg/header-logo.svg) top left no-repeat;
}
header .top-part:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 33px;
	height: 40px;
	background: url(../svg/header-logo.svg) top left no-repeat;
}
header .top-part a {
	color: $a-color-yellow;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	height: 71px;
	z-index: 110;
	font-weight: 600;
}
footer .text {
	display: table;
	width: 100%;
	height: 58px;
}
footer a {
	color: #fff;
}
footer .copyright {
	background: url(../svg/footer-separator.svg) left top no-repeat;
}


.circle-btn {
	display: inline-block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 29px;
}
.circle-btn .circle {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #C20080;
	color: #fff;
	padding-top: 4px;
	@include border-radius (50%);
}
.circle-btn .circle .menu-icon {
	display: inline-block;
	padding-top: 2px;
	@include menu-icon (#fff);
}

.wrap-left-slide-window {
	@include animation-transition ($speed-left-slide-window, all, ease-out, $delay-left-slide-window);
}
.open-active-window .wrap-left-slide-window.active-window, .wrap-left-slide-window.active-window.fixed-open {
	left: 57% !important;
}

//Прячем элемент как только начинается процесс открытия окна
.open-active-window .hide-before-show-window {
	@include animation-transition ($delay-left-slide-window, all, ease-out, 0s);
	@include cros-opacity(0);
}
//Оставляем такое же состаяние как и при открытом окне
.close-active-window .hide-before-show-window {
	@include cros-opacity(0);
}
//Анимация когда мы закрываем окно(ждем когда окно закроется после этого начинаем анимацию)
.hide-before-show-window {
	@include animation-transition ($delay-left-slide-window, all, ease-out, 0s);
}
//После конца анимации полностью убираем элемент
.open-active-window.end-open-active-window .hide-before-show-window {
	display: none;
}

.animation-before-after-show-window {
	@include animation-transition ($delay-left-slide-window, opacity, ease-out, 0s);
}
.open-active-window .animation-before-after-show-window, .close-active-window .animation-before-after-show-window {
	@include cros-opacity(0);
}
.open-active-window.end-open-active-window .animation-before-after-show-window {
	@include cros-opacity(1);
}

//Состояние футера после анимации
.open-active-window.end-open-active-window footer .copyright.animation-before-after-show-window {
	color: #333;
}
//Состояние навигации послее анимации
.open-active-window.end-open-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window,
.close-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window {
	left: 0;
	margin-left: -30px;
}
.open-active-window.end-open-active-window.show-window-docs .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window {
	display: none;
}


.close-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-pagination a,
.open-active-window.end-open-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-pagination a {
	border-color: #C20080;
}
.close-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-prev,
.open-active-window.end-open-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-prev {
	border-color: #C20080;
}
.close-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-next,
.open-active-window.end-open-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-next {
	border-color: #C20080;
}

.wrap-left-slide-window .left-slide-window {
	position: absolute;
	top: 0;
    left: -57%;
	width: 57%;
	height: 100%;    
	background: #fff;
	z-index: 20;
}

.wrap-left-slide-window .left-slide-window .wrap-scroll-pane {
	position: absolute;
	top: 200px;
	bottom: 100px;
	left: 0;
	width: 100%;
}
.wrap-left-slide-window .left-slide-window .wrap-scroll-pane .preloader {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../svg/preloader-2.svg) center center no-repeat;
}
.wrap-left-slide-window .left-slide-window .wrap-scroll-pane .scroll-pane {
	position: relative;
	height: 100%;
}
.wrap-left-slide-window .left-slide-window .header {
	padding-top: 81px;
	margin-bottom: 53px;
}
.wrap-left-slide-window .left-slide-window .wrap-header {
	position: relative;
	background: #fff;
	z-index: 30;
}
.wrap-left-slide-window .left-slide-window .header .logo {
	display: inline-block;
	width: 110px;
    height: 44px;
	background: url(../svg/logo-2.svg) top left no-repeat;
	background-size: 100% auto;
}
.wrap-left-slide-window .left-slide-window .header .phone {
    color: #009ECC;
    padding-top: 12px;
    font-weight: 700;
}
.wrap-left-slide-window .left-slide-window .header .close-btn {
	position: relative;
	display: block;
	color: #C20080;
	font-weight: 700;
	right: -35px;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
	padding: 8px 61px 0 0;
	@include animation-transition (1s, all, ease-out, 0s);
	@include cros-opacity(0);
}
.wrap-left-slide-window.active-window .header .close-btn {
	@include cros-opacity(1);
}
.wrap-left-slide-window .left-slide-window .close-btn.close-icon:before {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: #C20080;
	color: #fff;
	@include border-radius (50%);
	background: url(../svg/close.svg) center center no-repeat #C20080;
}
.wrap-left-slide-window .left-slide-window .close-btn.back-icon:before {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: #C20080;
	color: #fff;
	@include border-radius (50%);
	background: url(../svg/arrow-left-white.svg	) center center no-repeat #C20080;
}
.wrap-main-slide-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
	overflow: hidden;
}
.wrap-main-slide-window .main-slide-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.wrap-main-slide-window .main-slide-window .docs .item {
	display: block;
	position: relative;
	padding: 0 0 0 50px;
	color: #C20080;
	margin: 0 0 60px;
}
.wrap-main-slide-window .main-slide-window .docs .item.doc-item {
	color: #009ECC;
}
.wrap-main-slide-window .main-slide-window .docs .item.xls-item {
	color: #00CC80;
}
.wrap-main-slide-window .main-slide-window .docs .item span {
	color: #000;
}
.wrap-main-slide-window .main-slide-window .docs .item img {
	position: absolute;
	top: 0;
	left: 0;
}
.main-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 314px;
	z-index: 150;
	height: 100%;
}
.main-menu .inner {
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(158, 0, 112, 0.95);
	width: 294px;
	padding: 129px 50px 0 40px;
	height: 100%;
}

.main-menu .close-menu {
	display: block;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
	color: $a-color-yellow;
    text-decoration: none;
    padding: 7px 0 0 60px;
    top: 81px;
    left: 0px;
}
.main-menu .close-menu:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #fff;
	@include border-radius (50%);
    background: url(../svg/close-2.svg) center center no-repeat $a-color-yellow;
}
.main-menu ul {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.main-menu ul li {
	display: block;
	margin: 0 0 15px;
}
.main-menu ul li a {
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.main-menu ul li a:hover {
	color: $a-color-yellow;	
}
.main-menu ul li.current-menu-item > a {
	color: $a-color-yellow;	
}
.main-menu ul li.current-menu-parent > a {
	color: $a-color-yellow;	
}
.main-menu ul li.menu-item-has-children > a {
	padding-right: 18px;
}
.main-menu ul li.menu-item-has-children.active > a {
	font-weight: 700;
	color: $a-color-yellow;	
    letter-spacing: 0.8px;
}
.main-menu ul li.menu-item-has-children > a span {	
	display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
}
.main-menu ul li.menu-item-has-children > a span:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 4px;
	@include bottom-arrow (1px, 9px, 9px, #fff);
}
.main-menu ul li.menu-item-has-children.active > a span:before {
	top: 10px;
	@include top-arrow (1px, 9px, 9px, $a-color-yellow);
}
.main-menu ul li ul {
	display: none;
	text-transform: none;
	padding: 13px 0 7px 27px;
	letter-spacing: 0px;
	font-weight: 400;
}
.main-menu ul li ul li {
	margin: 0 0 11px;
}
.main-menu a {
	color: #fff;
}
.main-content {
	position: relative;
	z-index: 10;
}
.main-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/shadow-left.png) top left no-repeat;
	background-size: auto 100%;
	z-index: 10;
}
.main-shadow:before {
	content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/shadow-right.png) top right no-repeat;
    background-size: auto 100%;
}
.main-horizontal-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/shadow-horizontal-top.png) top left no-repeat;
	background-size: 100% 160px;
}
.main-horizontal-shadow:before {
	content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/shadow-horizontal-bottom.png) bottom right no-repeat;
    background-size: 100% 300px;
}
.main-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.paginate {
    padding: 25px 0;
}
.paginate .page-numbers {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	border: 1px solid #009ECC;
	text-align: center;
	text-decoration: none;
	color: #009ECC;
	margin-right: 6px;
	@include border-radius (50%);
	padding: 2px 0 0;
    top: 0;
}

.paginate .page-numbers.current {
	background: #009ECC;
    color: #fff;
    width: 40px;
    height: 40px;
    top: -1px;
    padding: 6px 0 0;	
}
.mini-map .wrap-svg {
	position: relative;
	margin-bottom: 30px;
}

.mini-map .wrap-svg .info {
	position: absolute;
	top: 50%;
	right: 0;
	margin: -60px 0 0;
	text-align: center;
	font-size: 36px;
    line-height: 48px;
    font-weight: 800;
}
.mini-map .wrap-svg .info .num-border {
	border-bottom: 1px solid #fff;
	padding: 0 0 1px;
}
.mini-map .prev-arrow {
	display: inline-block;
	@include left-arrow (1px, 10px, 10px, #fff);
	margin-top: 27px;
}

.mini-map .next-arrow {
	display: inline-block;
	@include right-arrow (1px, 10px, 10px, #fff);
	margin-top: 27px;
}
.mini-map .change-param .num {
	font-size: 48px;
	line-height: 64px;
	font-weight: 700;
}
.compass {
	width: 110px;
	height: 110px;
	background: url(../svg/compass.svg) 0px 0px no-repeat;
}
.slider-selection {
	background: $a-color-yellow !important;
}

.jspVerticalBar {
	left: 0;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid $a-color-yellow;
}
div.wpcf7-response-output {
    margin: 0 0 30px !important;
}
.wrap-ajax-loader {
	position: relative;
}
.wrap-ajax-loader .ajax-loader {
	position: absolute;
	top: 50%;
	right: 10px;
	margin: -8px 0 0 !important;
}