.global-left-padding {
	padding-left: 46px;
}
.light-content {
	color: #fff;
}
.dark-content {
	color: #484848;
}
.main-control-panel {
	position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
	z-index: 100;
}
.main-control-panel .logo {
	display: inline-block;
	width: 185px;
	height: 74px;
	background: url(../svg/logo.svg) top left no-repeat;
}
.main-control-panel .right-part {
	    padding-top: 15px;
}
header {
	position: relative;
	z-index: 100;
}
header .top-part {
	position: relative;
	padding: 8px 0 0;
	height: 40px;
	background: #2F281D;	
}
header .top-part:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 33px;
	height: 40px;
	background: url(../svg/header-logo.svg) top left no-repeat;
}
header .top-part:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 33px;
	height: 40px;
	background: url(../svg/header-logo.svg) top left no-repeat;
}
header .top-part a {
	color: $a-color-yellow;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	height: 71px;
	z-index: 10;
	font-weight: 600;
}
footer .text {
	display: table;
	width: 100%;
	height: 58px;
}
footer a {
	color: #fff;
}
footer .copyright {
	background: url(../svg/footer-separator.svg) left top no-repeat;
}


.circle-btn {
	display: inline-block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 29px;
}
.circle-btn .circle {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #C20080;
	color: #fff;
	padding-top: 4px;
	@include border-radius (50%);
}
.circle-btn .circle .menu-icon {
	display: inline-block;
	padding-top: 2px;
	@include menu-icon (#fff);
}

$speed-left-slide-window: 0.5s;
$delay-left-slide-window: 0.5s;

.wrap-left-slide-window {
	@include animation-transition ($speed-left-slide-window, all, ease-out, $delay-left-slide-window);
}
.open-active-window .wrap-left-slide-window.active-window {
	left: 57% !important;
}

//Прячем элемент как только начинается процесс открытия окна
.open-active-window .hide-before-show-window {
	@include animation-transition ($delay-left-slide-window, all, ease-out, 0s);
	@include cros-opacity(0);
}
//Оставляем такое же состаяние как и при открытом окне
.close-active-window .hide-before-show-window {
	@include cros-opacity(0);
}
//Анимация когда мы закрываем окно(ждем когда окно закроется после этого начинаем анимацию)
.hide-before-show-window {
	@include animation-transition ($delay-left-slide-window, all, ease-out, 0s);
}
//После конца анимации полностью убираем элемент
.open-active-window.end-open-active-window .hide-before-show-window {
	display: none;
}

.animation-before-after-show-window {
	@include animation-transition ($delay-left-slide-window, opacity, ease-out, 0s);
}
.open-active-window .animation-before-after-show-window, .close-active-window .animation-before-after-show-window {
	@include cros-opacity(0);
}
.open-active-window.end-open-active-window .animation-before-after-show-window {
	@include cros-opacity(1);
}

//Состояние футера после анимации
.open-active-window.end-open-active-window footer .copyright.animation-before-after-show-window {
	color: #333;
}
//Состояние навигации послее анимации
.open-active-window.end-open-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window,
.close-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window {
	left: 57%;
	margin-left: -30px;
}
.close-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-pagination a,
.open-active-window.end-open-active-window .front-page .wrap-jcarousel .jcarousel-nav.animation-before-after-show-window .jcarousel-pagination a {
	border-color: #C20080;
}

.wrap-left-slide-window .left-slide-window {
	position: absolute;
	top: 0;
    left: -57%;
	width: 57%;
	height: 100%;    
	background: url(../img/left-slide-window-left-line.png) left top repeat-y #fff;
}
.wrap-left-slide-window .left-slide-window .header {
	padding-top: 81px;
	margin-bottom: 53px;
}
.wrap-left-slide-window .left-slide-window .header .logo {
	display: inline-block;
	width: 110px;
    height: 44px;
	background: url(../svg/logo-2.svg) top left no-repeat;
	background-size: 100% auto;
}
.wrap-left-slide-window .left-slide-window .header .phone {
    color: #009ECC;
    padding-top: 12px;
    font-weight: 700;
}
.wrap-left-slide-window .left-slide-window .header .close-window {
	position: relative;
	display: block;
	color: #C20080;
	font-weight: 700;
	right: -35px;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
	padding: 8px 61px 0 0;
	@include animation-transition (1s, all, ease-out, 0s);
	@include cros-opacity(0);
}
.wrap-left-slide-window.active-window .header .close-window {
	@include cros-opacity(1);
}
.wrap-left-slide-window .left-slide-window .close-window:before {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: #C20080;
	color: #fff;
	@include border-radius (50%);
	background: url(../svg/close.svg) center center no-repeat #C20080;
}
.wrap-main-slide-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
	overflow: hidden;
}
.wrap-main-slide-window .main-slide-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.wrap-main-slide-window .main-slide-window .docs .item {
	display: block;
	position: relative;
	padding: 0 0 0 50px;
	color: #C20080;
	margin: 0 0 60px;
}
.wrap-main-slide-window .main-slide-window .docs .item span {
	color: #000;
}
.wrap-main-slide-window .main-slide-window .docs .item img {
	position: absolute;
	top: 0;
	left: 0;
}
.main-menu {
	position: absolute;
	right: 0;
	top: 0;
	background: #9E0070;
	padding: 40px 0 0;	
}
.main-menu a {
	color: #fff;
}